<launch>
    <include file="$(find erratic_description)/launch/erratic_laser_wg_world.launch" />

    <node name="map_node" pkg="map_server" type="map_server" 
          args="$(find erratic_description)/Media/materials/textures/empty_map.yaml" respawn="true" output="screen" />

    <include file="$(find erratic_navigation_apps)/launch/erratic_2dnav.launch" />
</launch>
