<launch>
    <param name="use_sim_time" value="true" />

    <group ns="robot1">
        <param name="tf_prefix" value="robot1"/>
        
        <!-- send the erratic robot XML to param server -->
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find erratic_description)/urdf/erratic.urdf.xacro'" />
        
        <!-- push robot_description to factory and spawn robot in gazebo -->
        <node name="spawn_robot1" pkg="gazebo" type="spawn_model"
              args="-param robot_description
                    -urdf
                    -unpause
                    -z 0.01
                    -model robot1
                    -ros_namespace /gazebo"
              respawn="false" output="screen" />
              
        <!-- start robot state publisher -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher1" output="screen" >
            <param name="publish_frequency" type="double" value="50.0" />
        </node>
    </group>

    <group ns="robot2">
        <param name="tf_prefix" value="robot2"/>
        
        <!-- send the erratic robot XML to param server -->
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find erratic_description)/urdf/erratic.urdf.xacro'" />
        
        <!-- push robot_description to factory and spawn robot in gazebo -->
        <node name="spawn_robot2" pkg="gazebo" type="spawn_model"
              args="-param robot_description
                    -urdf
                    -unpause
                    -x 1.00
                    -z 0.01
                    -model robot2
                    -ros_namespace /gazebo"
              respawn="false" output="screen" />
              
        <!-- start robot state publisher -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher2" output="screen" >
            <param name="publish_frequency" type="double" value="50.0" />
        </node>
    </group>
</launch>
